* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #575757;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1150px;
    padding: 10px;
}

.grid-container {
    display: grid;
    width: 100%;
    max-width: 100%;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}

.grid-card {
    position: relative;
    background: linear-gradient(to bottom, #ffd9fd, #ffd2fc, #ff9bf9,  #ee7ae7);
    border-radius: 8px;
    overflow: hidden;
    padding-top: 100%;
    transition: all 0.3s ease;
}

.grid-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.grid-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.grid-card img.active {
    opacity: 1;
}

.inactive {
    opacity: 0;
}

#win-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 3rem;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#win-message p {
    margin: 0;
    animation: pop-in 0.5s ease;
}

#win-message.show {
    opacity: 1;
    visibility: visible;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img:hover {
    cursor: pointer;
}

@keyframes pop-in {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}



@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
    .grid-card {
        padding-top: 80%;
    }
}


@media (max-width: 320px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .grid-card {
        padding-top: 80%;
    }
}
